
body{
    font-family: 'verdana';
}
input{
    height:24px;
}

.form-container{
    width:50%;
    height: auto;
    margin-left:25%;
    margin-right:25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 20px;
}

.top-border{
    background-color: darkred;
    max-width:100%;
    height: 20px;
}

.main-head{
    text-align: center;
    font-weight: bold;
}

.personal-info-head{
    color:darkred;
    padding-left: 10px;
}

.name-group {
    display: flex;
    flex-direction: column;
}

.name-feilds {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.name-feilds label {
    margin-left:10px;
    margin-right: 180px; 
}

.name-feilds input#fname {
    margin-right: 15px;
    width: 190px;
}

.name-feilds input#lname {
    width: 190px;
}

.name-span {
    display: flex;
    justify-content: space-between;
}

.name-span span {
    display: inline-block;
    font-size:10px;
    margin-bottom:20px;
}

.name-span span#first{
    margin-left:236px;
    flex:20%;
}

.name-span span#last{
    margin-right:201px;
    float:right;
}



.email-group {
    display: inline;
    align-items: center;
}

.email-group label {
    margin-left:10px;
    margin-right: 175px; 
}

.email-group input#email {
    width: 370px;
    margin-bottom: 20px;
}



.education-group {
    display: inline;
    align-items: center;
}

.education-group label {
    margin-left:10px;
    margin-right: 147px; 
}

.education-group select {
    width:300px;
    height: 30px;
    padding-left: 10px;
    font-weight: 540;
    margin-bottom: 20px;
}

.education-group option {
    padding: 8px;
}


.custom-select-container {
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif; 
}

.custom-select-container select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.custom-select-container::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 12px; 
    width: 0;
    height: 0;
    border-left: 7px solid transparent; 
    border-right: 7px solid transparent; 
    border-top: 7px solid black; 
    transform: translateY(-165%) rotate(1deg); 
}

.resume-group {
    display: inline;
    align-items: center;
}

.resume-group label {
    margin-left:10px;
    margin-right: 153px; 
}

.resume-group input[type="file"] {
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    padding:5px;
    width:400px;
    color:rgb(146, 141, 141);
    margin-bottom: 20px;
}




.address-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.address-feilds {
    display: flex;
    flex-direction: column;
}

.address-1{
    display:inline;
}
.address-feilds label, .country-feilds label {
    margin-left:10px;
    margin-right: 151px; 
}

.address-feilds input#address {
    width:420px;
}

#add1{
    font-size:10px;
    margin-left: 400px;
}

.address-feilds input#address2 {
    width:420px;
    margin-left: 229px;
}

#add2{
    font-size:10px;
    margin-left: 400px;
}


.country-feilds{
    align-items: center;
}
.country-feilds label{
    margin-left:10px;
    margin-right: 149px; 
}

#country{
    width:420px;
    height: 30px;
    padding-left: 10px;
    font-weight: 540;
}



 .custom-select-container2 {
    position: relative;
    display: inline-block;
}
.custom-select-container2 select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
.custom-select-container2::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-left: 7px solid transparent; 
    border-right: 7px solid transparent; 
    border-top: 7px solid black;
    transform: translateY(-50%) rotate(1deg) translateX(-200%);
}


#country-span{
    font-size:10px;
    margin-left: 405px;
}




.city-group{
    flex-direction: column;
}



.city-feilds{
    margin-bottom:0;
}

#city{
    margin-left:225px;
    width:260px;
}

#state{
    width:50px;
}

#zip{
    width: 80px;
}


#city-label{
    font-size: 10px;  
    margin-left: 360px;
}

#state-label{
    font-size: 10px;  
    margin-left: 130px;
}

#zip-label{
    font-size: 10px;  
    margin-left: 35px;
}


.phone-group {
    display: inline;
    align-items: center;
}

.phone-group label {
    margin-left:10px;
    margin-right: 90px; 
}

#phNo{
    width: 380px;
    height: 30px ;
    margin-bottom: 20px;
}


#phCode{
    width: 45px;
    height: 30px ;
    margin-bottom: 20px;
}


.hobby-group {
    display: flex;
    flex-direction: column;
}

.hobby-group label {
    margin-left:10px;
    margin-right: 90px; 
    margin-bottom: 5px;
}

.hobby-group input {
    max-width:100%;
    margin-left:10px;
    margin-right:10px;
}


#precious-head{
    color:darkred;
    margin-bottom: 35px;
    margin-left:10px;

}



.employee-details-group {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}


.company-group label,
.job-group label,
.emp-stay-group label {
    margin-left:10px;
}


.company-group label{
    margin-right: 80px;
}

.job-group label{
    margin-right: 140px;
}
.emp-stay-group label{
    margin-right: 54px;
}


.company-group input{
    width: 400px;
    }
.job-group input{
  width: 400px;
}
.emp-stay-group input {
     width: 390px;
}


.ref-1-name-group label, .ref-1-phone-group label, .ref-2-phone-group label , .ref-2-name-group label{
    margin-left:10px;

}

.ref-1-name-group label{
    margin-right:163px;
}

.ref-1-phone-group label{
    margin-right:161px;
}

.ref-2-phone-group label{
    margin-right:161px;
}

.ref-2-name-group label{
 margin-right:163px;
}   

#phone-1, #phone-2, #name-1, #name-2{
    width: 400px;
}


.ref-1-name-group , .ref-1-phone-group , .ref-2-phone-group  , .ref-2-name-group
{
    margin-bottom: 20px;
}



.ref-1, .ref-2{
  color:darkred;
  margin-left:10px;
}


#apply{
    width: 100px;
    height: 40px;
    color: white;
    background-color: darkred;
    border-radius: 3px;
    font-size:15px;
    margin:auto;
  display:block;
}